<div dw-loading="Waiting" dw-loading-options="{text: 'Waiting...'}" class="auto-page">
	<div class="row">
		<!-- <div class="col-sm-4">
			<input placeholder="Search" type="text" ng-model="filterText" ng-change="onFilterChanged(filterText)"/>
		</div>
		<div class="col-sm-4 text-center">
			<a class="btn btn-primary" ng-click="refreshChat()" aria-label="Left Align">
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
			</a>
		</div>
		<div class="col-sm-4 text-right">
			<div class="checkbox">
				<label><input type="checkbox" ng-model="isRecentFilter" ng-change="onChangeFilter(isRecentFilter)">Recent filter</label>
			</div>
		</div> -->
		<div class="col-sm-8">
			<h4><small>Please double-click the cell to edit(Username, Message)</small></h4>
		</div>
		<div class="col-sm-4 text-right">
			<div class="checkbox">
				<label><input type="checkbox" ng-model="isRandom" ng-change="onChangeRandom(isRandom)">Send automatic messages at random</label>
			</div>
		</div>
	</div>
	<div ag-grid="gridOptions" class="ag-blue auto-table"></div>
	<!-- <ul uib-pagination total-items="pagination.total" items-per-page="pagination.per_page" ng-model="pagination.page" max-size="pagination.maxsize" class="pagination-sm" boundary-links="true" force-ellipses="true" ng-change="pageChanged()"></ul> -->
</div>