<div dw-loading="loadingChat" dw-loading-options="{text: 'Loading Chat...'}" class="chat-page">
	<div class="row">
		<div class="col-sm-4">
			<input placeholder="Search" type="text" ng-model="filterText" ng-change="onFilterChanged(filterText)"/>
		</div>
		<div class="col-sm-4 text-center">
			<a class="btn btn-primary" ng-click="refreshChat()" aria-label="Left Align">
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
			</a>
		</div>
		<div class="col-sm-4 text-right">
			<div class="checkbox">
				<label><input type="checkbox" ng-model="isRecentFilter" ng-change="onChangeFilter(isRecentFilter)">Recent filter</label>
			</div>
		</div>
	</div>
	<div ag-grid="gridOptions" class="ag-blue dialogs-table"></div>
	<ul uib-pagination total-items="pagination.total" items-per-page="pagination.per_page" ng-model="pagination.page" max-size="pagination.maxsize" class="pagination-sm" boundary-links="true" force-ellipses="true" ng-change="pageChanged()"></ul>
</div>