<div dw-loading="loadingChat" dw-loading-options="{text: 'Loading Chat...'}" class="groupsend-page">
	<div class="row">
		<div class="col-sm-4">
			<input placeholder="Search" type="text" ng-model="filterText" ng-change="onFilterChanged(filterText)" ng-keyup="filterUsers($event, filterText)"/>
		</div>
		<div class="col-sm-8 text-right">
			<a class="btn btn-success" ng-click="showMultiChat()">Send messages to the selected users</a>
		</div>
	</div>
	<div ag-grid="gridOptions" class="ag-blue groupsend-table"></div>
	<ul uib-pagination total-items="pagination.total" items-per-page="pagination.per_page" ng-model="pagination.page" max-size="pagination.maxsize" class="pagination-sm" boundary-links="true" force-ellipses="true" ng-change="pageChanged()"></ul>
</div>