<div dw-loading="loadingChat" dw-loading-options="{text: 'Loading Chat...'}" class="users-page">
	<div class="row">
		<div class="col-sm-4">
			<!-- <input placeholder="Search" type="text" ng-model="filterText" ng-keyup="filterUsers($event, filterText)"/> -->
			<input placeholder="Search" type="text" ng-model="filterText" ng-change="onFilterChanged(filterText)"/>
		</div>
		<div class="col-sm-8 text-right">
			<a class="btn btn-success" ng-click="showMultiChat()">Send messages to the selected users</a>
		</div>
		<!-- <div class="col-sm-4 text-right">
			<div class="checkbox">
				<label><input type="checkbox" ng-model="isShowChatUser" ng-change="onFilterbyChatUser(isShowChatUser)">Chat User</label>
			</div>
		</div> -->
	</div>
	<div ag-grid="gridOptions" class="ag-blue users-table"></div>
	<ul uib-pagination total-items="pagination.total" items-per-page="pagination.per_page" ng-model="pagination.page" max-size="pagination.maxsize" class="pagination-sm" boundary-links="true" force-ellipses="true" ng-change="pageChanged()"></ul>
</div>