<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="btn close" ng-click="closeModal()">Close</button>
    <!-- <h3 class="modal-title text-center">{{'Chat with '+selUser.login+' ('+selUser.id+')'}}</h3> -->
    <h3 class="modal-title text-center">{{'Chat Dialog'}}</h3>
  </div>
  <div class="modal-body" style="height: 500px">
      <simple-chat
          messages="chat.messages"
          local-user="chat.me"
          send-function="sendMessage"
          send-attachment-function="sendAttachment"
          send-button-text="Send"
          show-user-avatar="false"
          show-composer="true"
      ></simple-chat>
  </div>
</div>