<div class="login-page" dw-loading="loadingLogin" dw-loading-options="{text: 'Login...'}">
	<div class="row">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        	<img src="images/flat-avatar.png" class="user-avatar" />
			<h1>Chitchat <small>Web Portal</small></h1>
			<form role="form" name="frm_login" ng-submit="submit(frm_login.$valid)" novalidate>

				<div class="form-content">
					<div class="form-group">
						<input type="text" name="username" class="form-control input-underline input-lg" ng-model='user.login' placeholder="Username" ng-class="{'error':frm_login.username.$touched && frm_login.username.$invalid}" required>
					</div>

					<div class="form-group">
						<input type="password" name="password" class="form-control input-underline input-lg" ng-model='user.pass' placeholder="Password" ng-class="{'error':frm_login.password.$touched && frm_login.password.$invalid}" required>
					</div>
				</div>

				<button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Login</button>

			</form>

		</div>	
	</div>

</div>